

.media-container {
    box-shadow: 0px 1px 5px inset rgb(4, 6, 20), 0px -1px 1px inset rgb(4, 6, 20);
    position: relative; 
    margin-top: 5%; 
}.media-scroller, .media-group {
    display: grid; grid-auto-flow: column;
}.media-scroller {
    scroll-behavior: smooth;
    grid-auto-columns: 1fr;
    overflow: hidden;
}.media-group {
    grid-auto-columns: auto;
    grid-auto-columns: 1fr;
    justify-content: center;
}.media-element {
    justify-self: center;
    border-radius: 50%;
    width: 20vw;
    aspect-ratio: 1/1;
}

/*
Image Animations
*/

img {
    border-radius: +50%;
    opacity: .7;
    transition: 2s;
    width: 20vw;
    padding: 10%;
}img:hover, media-element:hover {
    box-shadow: 0 0 .5px .5px inset #5985dd2d;
    transform:scale(1.5);
    opacity: 1;
    transition: 1s;
}

/* 
Next, Previous | Arrows
*/

.next, .previous {
    display: none;
    align-items: center;
    z-index: 10;
    position: absolute;
    width: 3rem;
    padding: 1rem;
    background: rgb(0 0 0 / 0);
    opacity: 0;
    transition: opacity .25s;
}
.previous {
    left: 0;
    top: 0;
    bottom: 0;
}
.next {
    right: 0;
    top: 0;
    bottom: 0;
}

.media-group:target :where(.next, .previous) {display: flex;}
:where(.next, .previous):hover > svg {transform: scale(1.2);}
:where(.next, .previous) > svg {
    transition: transform 75ms linear;
    transform: scale(1);
}.media-group:first-child :where(.next, .previous) {display: flex;}

/* -- -- -- -- -- */
/* profile scrolling arrows*/
.media-scroller:hover {opacity: 1; transition: .5s ease-in-out;}