*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Merriweather';
    font-size: 1.25rem;
    color: white;
    background: #121212;
    padding: 5%;
}

img, svg {
    /*max-width: 100%;*/
    display: flex;
}
img:hover {
    transform: scale(1.2);
    transition: 1.5s;
}

.media-container {position: relative;}

.media-scroller, .media-group {
    display: grid;
    gap: 0.25rem;
    grid-auto-flow: column;
}

.media-scroller {
    overflow-x: hidden;
    scroll-behavior: smooth;
    grid-auto-columns: 100%;
}
.media-scroller:first-of-type {padding-left: 0;}

.media-group {
    grid-auto-columns: 1fr;
    overflow: hidden;
}

.media-element {
    position: relative;
    /*border-radius: 0.25rem;*/
    overflow: hidden;
}
.media-element > img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}


/*:where(.next, .previous):hover {background: rgb(0 0 0 / 0.3);}*/
:where(.next, .previous) > svg {
    transition: transform 75ms linear;
    transform: scale(1);
}

/*.media-scroller:has(:target:not(:first-child)) .media-group:first-of-type .next {display:none;}*/
.media-group:first-child :where(.next, .previous) {display: flex;}
.media-group:target :where(.next, .previous) {display: flex;}
:where(.next, .previous):hover > svg {transform: scale(1.2);}


.next, .previous {
    display: none;
    align-items: center;
    z-index: 10;
    position: absolute;
    width: 3rem;
    padding: 1rem;
    background: rgb(0 0 0 / 0);
    opacity: 0;
    transition: opacity .25s;
}
.previous {
    left: 0;
    top: 0;
    bottom: 0;
}
.next {
    right: 0;
    top: 0;
    bottom: 0;
}



.navigation-indicators {
    opacity: 0;
    position: absolute;
    display: flex;
    gap: 3px;
    top: -1rem;
    right: 2rem;
    transition: opacity .25s;
}.navigation-indicators > * {
    width: 1rem;
    height: 2px;
    background: white;
    opacity: 0.5;
    transition-delay: .5s;
}



.media-scroller:hover :where(.next, .previous),
.media-group:not(:target) ~ .navigation-indicators > *:nth-child(1),
.media-group:nth-child(1):target ~ .navigation-indicators > *:nth-child(1),
.media-group:nth-child(2):target ~ .navigation-indicators > *:nth-child(2),
.media-group:nth-child(3):target ~ .navigation-indicators > *:nth-child(3),
.media-group:nth-child(4):target ~ .navigation-indicators > *:nth-child(4),
.media-scroller:hover .navigation-indicators {opacity: 1;}

.media-group:not(:nth-child(1)):target ~ .navigation-indicators > *:nth-child(1) {opacity: .5;}