
.media-container {position: relative; margin-top: 8rem}
.media-scroller, .media-group {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
}.media-scroller {
    margin: 1em;
    padding: 1em;
    overflow-x: hidden;
    overflow-y:visible;
    scroll-behavior: smooth;
    grid-auto-columns: 100%;
}.media-group {
    grid-auto-columns: 1fr;
    overflow: visible;
}

img {
    border: 2px solid #192a50;
    box-shadow: 0 0 .5px .5px #030916;
    border-radius: 50%;
    margin: 1em;
    width: 10vw;
    margin-left: 4em;
    transition: 2s;
}img:hover {
    transition: color 1s;
    box-shadow: 0 0 1.5px 1.5px #0e182e;
    transform:scale(1.5);
    transition: transform 1s;
}

/* 
Arrows
*/

.next, .previous {
    display: none;
    align-items: center;
    z-index: 10;
    position: absolute;
    width: 3rem;
    padding: 1rem;
    background: rgb(0 0 0 / 0);
    opacity: 0;
    transition: opacity .25s;
}
.previous {
    left: 0;
    top: 0;
    bottom: 0;
}
.next {
    right: 0;
    top: 0;
    bottom: 0;
}

.media-group:target :where(.next, .previous) {display: flex;}
:where(.next, .previous):hover > svg {transform: scale(1.2);}
:where(.next, .previous) > svg {
    transition: transform 75ms linear;
    transform: scale(1);
}.media-group:first-child :where(.next, .previous) {display: flex;}

/* -- -- -- -- -- */
/*Highlighting Indicators*/
.media-scroller:hover :where(.next, .previous),
.media-group:not(:target) ~ .navigation-indicators > *:nth-child(1),
.media-group:nth-child(1):target ~ .navigation-indicators > *:nth-child(1),
.media-group:nth-child(2):target ~ .navigation-indicators > *:nth-child(2),
.media-group:nth-child(3):target ~ .navigation-indicators > *:nth-child(3),
.media-group:nth-child(4):target ~ .navigation-indicators > *:nth-child(4),
.media-group:nth-child(5):target ~ .navigation-indicators > *:nth-child(5),
.media-scroller:hover .navigation-indicators {opacity: 1; transition: .5s ease-in-out;}