*, *::before, *::after {box-sizing: border-box; margin: 0;}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  color: white;
  background: linear-gradient(to left, #1993b8, #0067C5);
} 

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

h1 {
  margin: 4rem;
}

 input {
  position: relative;
  display: box;
  box-sizing: border-box;
  width: 100vw;
  background: transparent; outline: none; border: none;
  max-width: 90%;
  border-bottom: 1px solid #ffffff;
  margin: 4rem;
  color: #ffffff;
  font-size: 7rem;
  font-weight: 700;
}

input::placeholder {
  color:white;
  opacity: 25%;
}

.flex {
  display: flex;
  justify-content: space-between;
  margin: 4rem;
}
