*, *::before, *::after {box-sizing: border-box; margin: 0;}

body {
  font-family: 'Comfortaa', sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  color: white;
  background: linear-gradient(to left, #010507, #070f16);
} 

svg {
  width: 30px;
  aspect-ratio: 1;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

button:hover {
  /*color: #FCBC76;*/
  color: #fa9120;
}

h2 {
  margin-top: 2rem;margin-left: 4vw;
}

h6 {
  padding-bottom: 5vh; margin-top: -2vh;
  text-align: center;
  color: #3a3b3c;
  opacity: .5;
}

h3 {
  text-align: center;
  margin-bottom: 3vh;
  margin-top: -2vh;
}

 input {
  background: transparent; outline: none; border: none;
  margin: 4rem;
  margin-top: 15rem; margin-bottom: 9.5rem;
  border-bottom: 1px solid #ffffff;
  box-sizing: border-box;
  position: relative;
  color: #ffffffdd;
  font-weight: 700;
  font-size: 7rem;
  max-width: 91%;
  display: box;
  width: 100vw;
}

.flex {
  display: flex;
  justify-content: space-between;
  margin: 4rem;
}

.new-profile {
  justify-self: center;
  align-self: center;
  background: black !important;
  border-radius: 50%;
  width: 15vw;
  aspect-ratio: 1;
  border: 1px solid grey;
}
